<div class="container-fluid header-small-outer">
		<div class="header-small">
			<div class="logo">
				<%= link_to "Christ Kho", root_path %>
			</div>
			<div class="quote">
				<h2>Good things come to people who wait,</h2>
				<h2> but better things come to those who go out and get them.</h2>
				<h2><small>Anonymous</small><h2>
			</div>
			
		</div>
	</div>
	<div class="border"></div>