<!-- <div class="project">
  <h3><%#= project.title %></h3>
  <p class="blurb"><%#= project.description %></p>
  <%#= link_to "View Project", project %>
</div> -->

<div class="project-outer col-sm-6">
            <div class="project ">
              <div class="image">
                <img src="http://frame-maker-cheetah-38007.bitballoon.com/img/works/work2.jpg" alt="" />
                <h3><%= project.title %></h3>
                <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
                <p><%= project.skills %></p>
              </div>
             
            </div>
             <div class="info">
						  <%= link_to "View Project", project, class: "project_button" %>
              </div>
    </div>