<%= render 'shared/header' %>
<div id="project-index" class="skinny_wrapper">
	<h1 id="page_title" >My Works</h1>
	<h2 class="lined-h"><span><i class="fa fa-rocket" aria-hidden="true"></i>
</span></h2>
	<% @projects.each do |project| %>

   <%= render project %>
		<!-- <div class="border"></div> -->
		<% end %>
		<%#= will_paginate @projects , class: "pagination" %>
</div>