<section class="container-fluid" id="about-page" >
  <div>
      <div class="row" id="about-row"  >
        <div class="intro-wrapper">
          <div class="intro col-sm-4">
            <h2>Christ  K</h2>
            <div class="property">
            <p>
               Web Developer 
            </p>
            <p>
              Husband
            </p>
            <p>
              Fitness Enthusiast
            </p>
            <div>
          </div><!-- end intro -->
        </div>
        <!-- end image -->

        
      </div>
    </div>  
    <div class="main-wrapper">
      <div class="row main-outer">
        <div class="main col-xs-12">
          <div class="portfolio col-sm-6 ">
            <h2 class="lined-h" ><span>Works</span></h2>
            <!-- <hr class="header-line"> -->
            <div class="work-outer col-sm-6">
            <div class="work ">
              <div class="image">
                <img src="http://frame-maker-cheetah-38007.bitballoon.com/img/works/work1.jpg" alt="" />
                <h3>Calculator</h3>
                <p>javascript, css, html</p>
              </div>
             
            </div>
             <div class="info">
                <a href="">View Project</a>                
              </div>
            </div>
             <div class="work-outer col-sm-6">
            <div class="work ">
              <div class="image">
                <img src="http://frame-maker-cheetah-38007.bitballoon.com/img/works/work2.jpg" alt="" />
                <h3>Calculator</h3>
                <p>javascript, css, html, Ruby on Rails, Angular.js</p>
              </div>
             
            </div>
             <div class="info">
                <a href="">View Project</a>                
              </div>
            </div>
            <div class="work-outer col-sm-6">
            <div class="work ">
              <div class="image">
                <img src="http://frame-maker-cheetah-38007.bitballoon.com/img/works/work3.jpg" alt="" />
                <h3>Calculator</h3>
                <p>javascript, css, html, Ruby on Rails, Angular.js</p>
              </div>
             
            </div>
             <div class="info">
                <a href="">View Project</a>                
              </div>
            </div>
            <div class="work-outer col-sm-6">
            <div class="work ">
              <div class="image">
                <img src="http://frame-maker-cheetah-38007.bitballoon.com/img/works/work4.jpg" alt="" />
                <h3>Calculator</h3>
                <p>javascript, css, html, Ruby on Rails, Angular.js</p>
              </div>
             
            </div>
             <div class="info">
                <a href="">View Project</a>                
              </div>
            </div>
            
            <div class="view-all col-xs-12">
              <a href="#">View All <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
          </div>


          <div class="articles col-sm-6 ">
            <h2 class="lined-h"><span>Articles</span></h2>
            <!-- <hr class="header-line"> -->
            <div class="article">
              <h3>Class instance variables vs. class variable</h3>
              <p>Organic hammock four dollar toast trust fund mustache, tilde wolf flannel blog occupy chillwave. YOLO narwhal humblebrag, 3 wolf moon actually vegan food truck before they sold out shabby chic cornhole.</p>
              <a href="#"> Read More ...</a>
            </div>
            <div class="article">
              <h3>Ruby Clone vs. Dup</h3>
              <p>Organic hammock four dollar toast trust fund mustache, tilde wolf flannel blog occupy chillwave. YOLO narwhal humblebrag, 3 wolf moon actually vegan food truck before they sold out shabby chic cornhole.</p>
              <a href="#"> Read More ...</a>
            </div>
            <div class="article">
              <h3>How to unzip in terminal</h3>
              <p>Organic hammock four dollar toast trust fund mustache, tilde wolf flannel blog occupy chillwave. YOLO narwhal humblebrag, 3 wolf moon actually vegan food truck before they sold out shabby chic cornhole.</p>
              <a href="#"> Read More ...</a>
            </div>
            <div class="view-all col-xs-12">
              <a href="#">View All <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
          </div>

        </div> <!-- end main -->
      </div>

      <div class="row second-row">
       
        </div>
        </div>
      </section> <!-- /container about page -->