<section class="container-fluid" id="about-page" >
  <div>
      <div class="row" id="about-row"  >
        <div class="intro-wrapper">
            <div class="intro col-sm-4">
              <h2>Christ  K</h2>
                  <div class="property">
                          <p>
                             Web Developer 
                          </p>
                          <p>
                            Happy Husband
                          </p>
                          <p>
                            Fitness Enthusiast
                          </p>
                  <div><!-- end property -->
            </div><!-- end intro -->
        </div><!-- end intro-wrapper -->
      </div>
    </div>  



    <div class="main-wrapper">
      <div class="row main-outer">
        <div class="main col-xs-12">
          <div class="portfolio col-sm-6 ">
            <h2 class="lined-h" ><span>Works</span></h2>
            <%= render @projects %>

            <div class="view-all col-xs-12">
              <%=link_to (projects_path) do %>
                  View All
                 <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>


          <div class="articles col-sm-6 ">

            <h2 class="lined-h"><span>Articles</span></h2>   

            <%= render @posts %>

            <div class="view-all col-xs-12">
              <%=link_to (posts_path) do %>
                  View All
                 <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>

        </div><!-- end main -->

        </div> <!-- end main-outer -->
      </div>

      <div class="row second-row">
       
        </div>
        </div>
      </section> <!-- /container about page -->