<div class="article">
  <h3><%= post.title %></h3>
  <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
  <p class="blurb"><%= post.blurb %></p>
  <%= link_to "Read More ...", post %>
</div>