/*------------------------
---------Variables--------
-------------------------*/

// $alpha-orange: rgba(200,55,0,.7);
$alpha-orange: rgba(255, 133, 27, .7);
$dark-orange: #c83700;

$alpha-yellow: rgba(240,200,0,.8);
// $alpha-yellow: rgba(255, 220, 0, .7);
$dark-gray: #545454;
$light-gray: #aaa;
$gray: #808080; 
$header-font:  'Black Ops One', cursive;





/*------------------------
------End Variables-------
-------------------------*/