
		.project-outer {
			position: relative;
			margin: 0;
			padding: 0;
			min-height: 300px;
			z-index: 1;
				.project {
					margin: 0;
					padding: 15px;
					position: relative;
					min-height: 300px;
					z-index: 1;
					}
				.info {

					z-index: 100;
					position: absolute;
					height: 100%;
					width: 100%;
					top:0;
					left: 0;

				a{

						z-index: 100;
						display: block;
						width: 150px;
						margin-top: 40%;		
						margin-left: auto;
						margin-right: auto;

					}
				}
			}
		